
body {
    background-color: rgb(150, 51, 51);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50%;
    }
@media only screen and (min-width: 300px) {
    body {
    background-color: rgb(12, 122, 80);
    font-size: 75%;
    }
.small{
    width: calc( 100% * 2/3);
}
.medium{
    width: calc( 100% * 1/3);
}
.large{
    width: 100%;
}
}
@media only screen and (min-width: 768px) {
    body {
    background-color: rgb(12, 101, 117);
    font-size: 100%;
    column-count: 3;
    }

}
